<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="padding:10px">
                <div class="card mb-3 h-100">
                    <div class="card-header">Welcome to socAIl! Please Enter your User ID Below </div>
                    <form method="POST" action="setUser">
                        <div class="form-group" role="group" >
                            <label for="setUser">Please Enter Your User ID Here</label>
                            <input type="text" class="form-control" id="setUser" placeholder="@ESPN" name=user>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                </div>
        </div>
    </body>
</html>