<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Validated</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container my-4">
    <div class="jumbotron bg-info">
      <h1 class="text-white">Account Validated</h1>
      <p class="text-white">To review @{{ user }}'s  tweet history, select a checkout option</p>
     <!-- <a class="btn btn-primary btn-lg" href="create-checkout-session" role="button"> Checkout</a> -->
        <form method="POST" action="promoInput">
            <div class="form-group" role="group" >
                <label for="promocode"> </label>
                <input type="text" class="form-control" id="promocode" placeholder="Enter Promocode Here" name=promocode_user>
            </div>
    </div>
            <button type="submit" class="btn btn-primary btn-lg bg-info">Checkout with Promo</button>
            <a class="btn btn-primary btn-lg bg-info" href= {{ return_path }} role="button"> Checkout with Card</a>
        </form>

    </div>



</body>

</html>