<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Validated</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://js.stripe.com/v3/"></script>

</head>
<body>
    <div class="jumbotron">
      <h1 class="display-4">{{ user }}'s Account Validated</h1>
      <p class="lead">To review your tweet history, click the button below.</p>
        <p><small>This process can take up to five minutes</small></p>
      <hr class="my-4">

      <a class="btn btn-primary btn-lg" href="scan_tweets" role="button"> Check My tweets</a>
     <a class="btn btn-primary btn-lg" href="create-checkout-session" role="button"> Checkout</a>
    </div>
</body>
</html>