<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Validated</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="jumbotron">
      <h1 class="display-4">Account Validated</h1>
      <p class="lead">To review @{{ user }}'s  tweet history, enter payment info with the button below.</p>
      <hr class="my-4">

        <a class="btn btn-primary btn-lg" href= {{ return_path }} role="button"> Checkout</a>
     <!-- <a class="btn btn-primary btn-lg" href="create-checkout-session" role="button"> Checkout</a> -->
    </div>
</body>

</html>