<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container my-4">
    <div class="jumbotron">
      <h1 class="display-4">Oops! looks like we messed up.</h1>
      <p class="lead">Please refresh, return to the homepage or contact support@cleanmytweets.com for a refund.</p>
        <a class="btn btn-primary btn-lg bg-info" href= '/' role="button"> Home</a>
     <!-- <a class="btn btn-primary btn-lg" href="create-checkout-session" role="button"> Checkout</a> -->
    </div>
</div>
</body>
</html>