<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Validated</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container my-4">
    <div class="jumbotron bg-info">
      <h1 class="text-white">Looks like you're running in free mode</h1>
      <p class="text-white">Thanks so much for being an early tester.</p>
        <p class="text-white">This page will eventually be where you enter payment info, but since you don't have to do that...</p>
        <p class="text-white">Just click the button bellow (you're welcome)</p>
     <!-- <a class="btn btn-primary btn-lg" href="create-checkout-session" role="button"> Checkout</a> -->
    </div>
    <a class="btn btn-primary btn-lg bg-info" href= 'success' role="button"> Complete Simulated Checkout</a>
</div>
</body>
</html>