<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Clean My Tweets</title>

    <script src="https://js.stripe.com/v3/"></script>

  </head>
 <div class="container my-4">

    <div class="jumbotron bg-info")>
      <h1 class="text-white">  Clean My Tweets.com </h1>
     <p class="text-white">  Find and delete your unprofessional tweets</p>
    <hr class="my-4">
     <p class="text-white"> Whether you're a job-seeker, university student, or aspiring athlete, all it takes is one inappropriate tweet to put your future in jeopardy. </p>
      <b class="text-white"> Clean up your tweets and ensure peace of mind with the $10 Tweet Sweep:</b>
        <ul>
        <li class="text-white">Instant review of your 3,000 most recent tweets.</li>
        <li class="text-white">Report of all potentially offensive, profane, or unprofessional tweets.</li>
        <li class="text-white">Delete up to 15 tweets right from your tweet report.</li>
        </ul>
  </div>


    <a class="btn btn-primary btn-lg bg-info" href={{ user_auth_link }} role="button"> Get Started</a>
     <a class="btn btn-primary btn-lg bg-info" href="learn_more" role="button"> Learn More</a>

    <p><small>Disclaimers: Cleanmytweets will only review up to 3000 tweets and does not guarantee to capture all profane or potentially offensive content. Only 15 tweets can be deleted per transaction. By selecting the above you are acknowledging these disclaimers. Cummings Technology Ventures LLC. </small></p>

    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Need Help? Contact
        <a class="text-dark" href="https://mdbootstrap.com/">support@cleanmytweets.com</a>
      </div>
      <!-- Copyright -->
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 </div>
</html>
