<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn More</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container my-4">
    <div class="jumbotron bg-info">
      <h1 class="text-white">CleanMyTweets.com</h1>
        <p class="text-white">We believe that everyone should have the right to make informed decisions about their
        online presence. We've worked with professionals in human resources, talent acquisition and government affairs
            to compile a list of over 2,000 potentially controversial words and phrases that we'll check for in your tweet history.
        We don't tell you to delete any or all of the tweets that we flag, that's your decision. But we feel it's important to
        give you the best information to make that decision. </p>
        <p class="text-white">This should take about one minute.{{ user }}</p>
    </div>
      <a class="btn btn-primary btn-lg bg-info" href="/" role="button" id="advance_button" style="visibility:hidden;"> Home </a>
</div>
</div>
</body>
</html>