<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Validated</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        function showStuff() {
            document.getElementById("advance_button").style.visibility="visible";
        }
            setTimeout("showStuff()",45000);

        function hideStuff() {
            document.getElementById("fake_button_1").style.visibility="hidden"
            document.getElementById("fake_button_2").style.visibility="hidden";
        }
            setTimeout("hideStuff()",45000);
    </script>
</head>
<body>
<div class="container my-4">
    <div class="jumbotron bg-info">
      <h1 class="text-white">Payment Validated</h1>
        <p class="text-white">Compiling your tweet report now, when it's finished, a button will appear below this message.</p>
        <p class="text-white">This should take about one minute. Feel free to leave this window and check back.</p>
    </div>
      <button class="btn btn-primary btn-lg bg-info" id="fake_button_1" type="button" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="fake_button_2"></span>Loading...</button>
      <a class="btn btn-primary btn-lg bg-info" href="scan_tweets" role="button" id="advance_button" style="visibility:hidden;"> Check My tweets</a>
</div>
</div>
</body>
</html>