<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>correct</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Google Ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2675678183320337"
     crossorigin="anonymous"></script>
</head>
<body>
    <div class="jumbotron">
      <h1 class="display-4">{{ count }} Tweets Deleted!</h1>
      <hr class="my-4">
      <p> Head back to the homepage to check out your new timeline.</p>
      <a class="btn btn-primary btn-lg" href="\" role="button"> Back Home</a>
    </div>
</body>
</html>