<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn More</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container my-4">
    <div class="jumbotron bg-info">
      <h1 class="text-white">About CleanMyTweets</h1>
        <p class="text-white">We believe that everyone should have the right to make informed decisions about their online presence. </p>
        <p class="text-white"> When you run a tweet check, we search your tweet history for any of 2,000 potentially controversial topics; ranging from profanity to political statements.</p>
       <p class="text-white">What you choose to do with the tweets we flag is up to you. You may choose to delete these tweets
           as they no longer align with your beliefs, or you may still stand by them and choose to leave them be.</p>
        <p class="text-white"> We simply believe that you deserve to make that choice. </p>
    </div>
    <a class="btn btn-primary btn-lg bg-info" href="/" role="button" id="advance_button"> Home </a>
</div>
</div>

</body>
</html>